.header, .plotsWrapper {
  padding: 2em 5%;
  background-color: #373737;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 1;
}

.heading {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 2.5em;
  color: white;
  margin: 0;
}

.subheading {
  font-size: 1.2em;
  font-weight: 300;
  color: #898989;
  margin: 0;
}

.connectionSettings {
  display: flex;
  flex-direction: column;
  gap: 0.5em; 
}

.downloadBar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
  gap: 0.5em; 
}

.isConnected {
  color: #32cd32ff;
}

.isNotConnected {
  color: #9e9e9e;
}

.isConnected::before {
  content: '';
  display: inline-block;
  margin-right: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  border: 2px solid transparent;
  background-color: #32cd32ff;
  box-shadow: 0 0 0 4px #32cd3260;
}

.isNotConnected::before {
  content: '';
  display: inline-block;
  margin-right: 0.5em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  border: 2px solid #696969;
  background-color: #696969;
  box-shadow: 0 0 0 4px transparent;
}

.button, .downloadButton {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  outline: none;
}

.button:active, .button:focus {
  box-shadow: 0 0 0 4px #f0f0f063;
}

.downloadButton {
  color: white;
  background-color: #3970e9;
}

.downloadButton:active, .downloadButton:focus {
  box-shadow: 0 0 0 4px #1c5ae194;
}

.inputBox {
  padding: 0.5em 1.5em;
  border-radius: 8px;
  border: 1px solid #f0f0f063;
  outline: none;
}

.inputBox:active, .inputBox:focus {
  box-shadow: 0 0 0 4px #f0f0f063;
}

.text {
  color: #898989;
}